.hero {
    background-image: url("../../assets/HeroImage.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 762px;
    margin-top: 0px;
    position: relative;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    left: 131px;
    top: 322px;
    position: relative;
    color: rgba(255, 255, 255, 1);
}

.smallLogo {
    background-color: black;
    height: 37px;
    width: 124px;
    border-radius: 4px;
    background-image: url("../../assets/Logo.svg");
    background-size: 84px 19.52px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 9px;
}

.menu {
    position: absolute;
    bottom: 18px;
    left: 604px;
}