.page {
  background-color: black;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
}

.page h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: rgba(242, 242, 242, 1);
}

.main {
  height: 100%;
  padding: 24px 540px 100px 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
